<aside class="sider">
    <nav>
        <ul class="sider_nav">
            <li><img src="/images/menu/search.svg" alt=""></li>
            <li><img src="/images/menu/ticket.svg" alt=""></li>
            <li><img src="/images/menu/duplicate.svg" alt=""></li>
            <li><img src="/images/menu/like.svg" alt=""></li>
            <li><img src="/images/menu/bookmark.svg" alt=""></li>
            <li><img src="/images/menu/television.svg" alt=""></li>
        </ul>
        <ul class="sider_profile">
            <li><img src="/images/menu/profile.svg" alt=""></li>
            <li><img src="/images/menu/exit.svg" alt=""></li>
        </ul>
    </nav>
</aside>
