.logo{
    display: flex;
    align-items: center;

    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 14px;
    color: #FFFFFF;
}

.container{
    display: block;
    margin: auto;
    width: 1170px;
}

.list{
    margin-bottom: 30px;
}

.list > h2{
    font-weight: bold;
    font-size: 30px;
    line-height: 14px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.list-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}